:root{
    --open-sans:"Open Sans", sans-serif;
    --nunito-sans:"Nunito Sans", sans-serif;

    --accent-lighd:#FBB731;
    --accent-dark:#F37335;
    --dark:#443737;
    --light:#FFFFFF;
    --light-rgb:225, 225,225;
    --line: #dedede;
    --tr: 0.5s;
}
body{
   font-family: var(--open-sans );
   
}
a{
    text-decoration: none;

}
.container{
    width: 100%;
    max-width: 1108px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
/*header*/
.header{
    border-bottom: 1px solid var(--line);
}
.header-wrapper{
    display: flex;
    align-items: center;
    gap: 56px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.burger-menu{
    display: none;
    width: 34px;
    height: 22px;
    background-image: url(../images/icons8-.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border-color: transparent;
    border: none;
}
.logo{
    display: block;
    width: 176px;
    height: 56px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.nav{
    flex-grow: 1;
    display: flex;
    gap: 46px;
    margin-left: min(10vw, 140px);
}
.nav-link{
    color: var(--dark);
    font-size: 20px;
    font-weight: 600;
}
.nav-link::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
    transition: var(--tr);
}
.nav-link:hover::after{
    background-color: var(--accent-lighd);
}
.cart{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark);
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    transition: var(--tr);
}
.cart:hover{
    box-shadow: #e1d9d5 4px 2px ;
    border-radius: 5px;
}
.cart::before{
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.cart-count{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    font-size: 10px;
    background-color: var(--accent-dark);
    color: var(--light);
   position: absolute;
   left: 17px;
   bottom: 0;
}
.button-up{
    position: fixed;
    right: 10px;bottom: 10px;
    font-style: 14px;
    font-family: var(--nunito-sans);
    font-weight: 700;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E2F40;
    background-color: var(--accent-lighd);
    border: none;
    border-radius: 5px;
    transition:var(--tr);
}
.button-up:hover{
    background-color: var(--accent-dark);

}
.button-up.hidden{
    opacity: 0;
}
.button-up.visible{
opacity: 1;
}
/*hero*/

.hero{
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 142px 0;
}
.hero.hero-contact{
    background-image: url(../images/hero-contact.jpeg);
}
.breadcrumbs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    padding-left: 0;
    color: rgb(var(--light-rgb), 0.5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.breadcrumbs-items{
    position: relative;
}
.breadcrumbs-items:not(:last-child)::after {
    content:"/";
    position:absolute;
    right:-12px;
}
.breadcrumbs-link{
    color: rgb(var(--light-rgb), 0.5);  
    transition: var(--tr);
}
.breadcrumbs-link:hover{
    color: var(--accent-lighd);
}
.hero-title{
color: var(--light);
font-family: var(--nunito-sans);
font-size: 79px;
font-weight: 700;
text-transform: capitalize;
}
.hero-description{
    max-width: 320px;
    margin: 0 auto;
    color:rgb(var(--light-rgb), 0.8);
    font-size:15px;
    line-height: 160%;

}
/*banner*/
.banner{
    margin-top: 140px;
}
.banner-wrapper{
    background-image: url(../images/wrapper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
.banner-title{
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 60px;
    font-weight: 900;
    line-height: 126%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
}
.banner-title span {
    display: block;
    max-width: 95px;
    color: var(--light);
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 600;
    line-height: 128%;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--accent-dark);
    border-radius: 14px;
    padding: 5px 0;
    margin-bottom: 4px;
}
.banner-description{
    max-width: 328px;
    margin-top: 0;
    margin-bottom: 13px;
    color:rgb(var(--light-rgb), 0.8) ;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.banner-btn{
    display: block;
    max-width: 170px;
    font-style: 14px;
    font-family: var(--nunito-sans);
    font-weight: 700;
    padding: 22px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E2F40;
    background-color: var(--accent-lighd);
    border: none;
    border-radius: 5px;
    transition:var(--tr);
}
.banner-btn:hover{
    background-color: var(--accent-dark);

}


/*menu*/
.menu-header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 100px;
    margin-bottom: 23px;
}
.menu-title{
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 44px;
    line-height: 127%;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.menu-box{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: auto;
    gap: 50px 20px;
}
.menu-item{
    font-family: var(--nunito-sans);
    text-align: center;
}
.menu-thumb{
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 28px;
}
.menu-thumb img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    object-fit: cover;
}
.menu-name{
    color: var(--dark);
    font-size: 38px;
    font-weight: 600;
    line-height: 126%; ;
    margin-top: 0;
    margin-bottom: 18px;
}
.menu-prce{
    color:rgb(var(--dark-rgb), 0.8);
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom:28px ;
}
.menu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 700;
    padding: 11px 32px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--nunito-sans);
    background-color: var(--accent-lighd);
    border-radius: 5px;
    border: none;
    color:#1e2f40 ;
    transition: var(--tr);
}
.menu-btn:hover{
    background-color: var(--accent-dark);
}
.menu-btn::before{
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/cart_2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: #1e2f40;
}
.menu-selekt{
    color: var(--dark);
    font-size: 15px;
    appearance: none;
    flex-basis:279px ;
    background: url(../images/chevron-down.svg);
    background-size: 14px 10px;
    background-repeat: no-repeat;
    background-position: 98% center;
    border: 1px solid var(--line) ;
    background-repeat: 22px;
}

/*footer*/

.footer{
    background-color: #1E2F40;
    padding-top: 110px;
    padding-bottom: 120px;
    margin-top: 140px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between; 
    gap: 15px;
}
.footer-logo{
    display: block;
    width: 63px;
    height: 56px;
    background-image: url(../images/Logo_light2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.footer-title{
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 190%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 13px;
}
.footer-nav{
    display: flex;
   flex-direction: column;
   gap: 9px;
}
.footer-link{
    color: rgb(var(--light-rgb), 0.9);
    font-size: 15px;
    line-height: 160%;
}
.footer-link:after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
    transition: var(--tr);
}
.footer-link:hover::after{
    background-color: var(--accent-lighd);
}
.footer-list{
    list-style-type: none;
    padding-left: 0;
    margin: 15px;
}
.footer-list-item{
    color: var(--light);
    font-size: 15px;
    font-weight: 700;
    line-height: 160%;
}
.footer-list-item span{
    display: block;
    color:rgb(var(--light-rgb), 0.9);
    font-weight: 400;
}
.footer-list-item:not(:last-child){
    margin-bottom: 14px;
}
.footer-item:last-child{
    flex-basis: 194px;
}
.footer-tel{
    display: block;
    color: var(--accent-lighd);
    font-family: var(--nunito-sans);
    font-style: 20px;
    text-align: right;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 12px;
    transition: var(--tr);
}
.footer-tel._mobile{
    display: none;
}
.footer-tel:hover{
    color: aliceblue;
}


/* contact */
.contact-main {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1057px;
    margin: 140px auto 60px;
}

.contact-map {
    flex-basis: 680px;
}

.contact-adress {
    flex-basis: calc(100% - 680px - 20px);
    list-style-type: none;
    padding-left: 0;
}

.contact-adress > li:not(:last-child) {
    margin-bottom: 26px;
}

.contact-adress > li > span {
    display: block;
    font-size: 15px;
    line-height: 160%;
}

.contact-adress > li > span:first-child {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 190%;
    text-transform: uppercase;
    margin-left: 3px;
    margin-bottom: 4px;
}

.contact-adress > li > span:last-child {
    font-weight: 700;
    margin-top: 10px;
}

.contact-additionally {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1057px;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}

.contact-additionally > li {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-additionally > li::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-additionally > li:nth-child(1):before {
    background-image: url(../images/0\,1.png);
}
.contact-additionally > li:nth-child(2):before {
    background-image: url(../images/0\,2.png);
}
.contact-additionally > li:nth-child(3):before {
    background-image: url(../images/0\,3.png);
}

.contact-info,
.contact-tel {
    display: block;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 5px;
}

.contact-tel {
    transition: var(--tr);
}

.contact-tel:hover {
    color: var(--accent-light);
}
/* media*/

@media (max-width:1088px) {
    .header-wrapper{
        gap:30px;
    }
    .nav {
        margin-left: 0;
        gap: min(3vw,30px);
    }
}
@media (max-width: 768px) {
    .logo {
        width: 150px;
        height: 47.81px;
    }
    .header-wrapper {
        gap: 45px;
    }
    .nav {
        gap: 22px;
    }
    .banner {
        margin-top: 72px;
    }
    .banner-wrapper {
        padding: 100px 40px;
    }
    .menu-header {
        margin-top: 80px;
    }
    .menu-box {
        grid-template-columns: repeat(2, 1fr) ;
    }
    .menu-box._add{
        grid-template-columns: 1fr;
    }
    .menu-item._add{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .menu-item._add .menu-thumb{
        flex-basis: calc(60%-20px);
        height: 260px;
        overflow: hidden;
        margin-bottom: 0;
    }
    .menu-item._add .menu-info{
        flex-basis: 40%;
    }
    .footer{
        padding-top: 62px;
        padding-bottom: 71px;
    }
    .footer-nav{
        margin-bottom: 20px;
    }
    .footer-item:last-child{
      display: none;  
    }
    .footer-tel._mobile{
        display: block;
        text-align: left;
    }
}
@media (max-width: 730px){
    .header-wrapper{
        gap: 21px;
        padding-top: 19px;
        padding-bottom: 19px;

    }
    .nav{
        display: none;
    }
    .nav._modal{
        display: flex;
        flex-direction: column;
    }
    .nav-link::after{
        display: none;
    }
    .modal{
        width: 100%;
        max-width: 500px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        background-color: #FFF8DC;
        padding: 40px 15px;
        position: absolute;
        top: -400px;
        box-sizing: border-box;
        transition: var(--tr);
    }
    .burger-menu{
        display:block ;
    }
    .logo{
        width: 116px;
        height: 37px;
        flex-grow: 1;
    }
    .modal-close{
       display: block; 
       width: 22px;
       height: 22px;
       background-image: url(../images/iconswer.svg);
       border: none;
       background-repeat: no-repeat;
       border-color: transparent;
       background-size: contain;
       position: absolute;
       top: 20px;
       right: 20px;
    }
    .hero-description{
        padding-top: 57px;
        padding-bottom: 55px;
    }
    .breadcrumbs{
        font-style: 14px;
    }
    .hero-title{
        font-size: 38px;
        margin-top: 28px;
        margin-bottom: 13px;
    }
    .hero-description{
        font-size: 12px;
        line-height: 166%;
    }
    .banner{
        margin-top: 33px;
    }
    .banner-wrapper{
        padding: 36px 15px 30px 15px ;
    }
    .banner-title{
        margin-bottom: 9px;
    }
    .banner-description{
        font-size: 14px;
        margin-bottom: 20px;
        max-width: 220px;
    }
    .banner-btn{
        max-width: 198px;
    }
    .menu-header{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .menu-title{
      font-size: 27px;  
    }
    .menu-selekt{
        font-size: 15px;
        flex-basis: 136px;
        width: 136px;
        background-position:93% center ;
        padding: 13px 15px;
    }
    .menu-box{
        gap: 24px 20px;
    }
    .menu-thumb{
        height: 50vw;
        margin-bottom: 10px;
    }
    .menu-item._add .menu-thumb{
        height: 30vw;
    }
    .menu-name{
        font-size: 13px;
        margin-bottom: 8px;
    }
    .menu-prce{
        font-size: 12px;
        margin-bottom: 14px;
    }
    .menu-btn{
        padding: 11px 22px;
    }
    .footer{
        margin-top: 80px;
    }
    .footer-wrapper{
        flex-direction: column;
        gap: 35px;
        position: relative;
    }
    .footer-logo{
        margin-bottom: 9px;
    }
    .footer-tel._mobile{
        top: -13px;
        position: absolute;
        right: 0;
    }
    .footer-tel._mobile + .footer-tel._mobile{
        top: 10px;
    }
    .footer-title{
        font-size: 18px;
    }
    .footer-nav{
        margin-bottom: 0;
    }
}
@media (max-width: 450px) {
    .menu-item._add .menu-thumb{
        flex-basis: calc(100%-130px-20px);
        height: 38vw;
    }
    .menu-item._add .menu-info{
        flex-basis: 130px;
    }
}